<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rocket Link: Create emoji link for your link</title>

    <link rel="stylesheet" href="/assets/css/pico.min.css">
    <link rel="stylesheet" href="/assets/css/application.css">
</head>
<body>
    <nav class="container">
        <ul>
            <li><strong><a href="/">🚀🔗: Rocket Link</a></strong></li>
        </ul>
        <ul>
            {% if not is-logged-in %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {% else %}
            <li><a href="/my/links">My links</a></li>
            {% endif %}
        </ul>
    </nav>
    <section class="container">
        <article>
            {% for error in errors %}
                <p>
                    <mark>{{ error }}</mark>
                </p>
            {% endfor %}

            {% block content %}
            {% endblock %}
        </article>
    </section>
    <footer class="container">
        <strong>WARNING: early access.</strong> All data can be erased at any moment.
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>
